---
import { Icon } from 'astro-icon/components'

interface Props {
  name: string
  icon?: string
  level?: string
  className?: string
}

const { name, icon, level, className = '' } = Astro.props
---

<div
  class={`bg-skin-button-accent/20 border-skin-hue/20 text-skin-hue print:p-0 print:bg-transparent print:text-zinc-800 flex gap-1 items-center border-solid print:border-none border rounded-md px-2 py-0.5 text-xs backdrop-blur-sm ${className}`}
  title={level}
>
  {icon && <Icon name={icon} width={16} height={16} />}
  <span>{name}</span>
</div>
